// ==========================================================================
// Base Styles
// ==========================================================================

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: $color-primary;
    font-size: $base__font-size;
    font-family: $font-family--primary;
    line-height: ($base__line / $base__font-size);
}

a {
    color: $color-link;
    text-decoration: none;
}

.icon {
    color: $color-icon;
}

button:focus {
    outline: none;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}