// ==========================================================================
// Global Config
// ==========================================================================

// Font Stacks

$font-url--google        : 'https://fonts.googleapis.com/css?family=Roboto';
$font-family--primary    : 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;

@import url($font-url--google);

// Base Colors

$white : #fff;
$black : rgb(46, 48, 52);

$navy-blue           : rgb(14, 116, 247);

$color-primary       : rgb(112, 112, 112);
$color-secondary     : rgb(154, 159, 166);
$color-link          : rgb(155, 190, 243);
$color-background    : rgb(241, 246, 247);
$color-border        : rgb(205, 207, 221);
$color-border--light : rgb(244, 244, 244);
$color-terms         : rgb(188, 193, 196);
$color-icon          : rgb(195, 207, 221);
$color-icon--light   : rgb(155, 165, 173);

// Text

$base__font-size : 16px;
$base__line      : 24px;
$letter-space    : 1px;

// Breakpoints

$brkpoint-sm    : 1px;
$brkpoint-md    : 768px;
$brkpoint-lg    : 1100px;
