// ==========================================================================
// Helpers
// ==========================================================================

// Clearfix

%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

%user-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// Center alignment

%center-align {
    text-align: center;
}

// Center elements

.centered {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

// Hide elements

.hidden {
    display: none;
}

// Hidden on small screens

.is-hidden-mobile {
    @include media(small) {
        display: none;
    }
}

// Visible on small screens

.is-visible-mobile {
    display: none;

    @include media(small) {
        display: block !important;
    }
}

// Left arrow

.left-arrow {
    position: relative;
    background: $white;
}
.left-arrow:after {
    right: 100%;
    top: 20px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-right-color: $white;
    border-width: 10px;
    margin-top: -10px;
}