// ==========================================================================
// Mixins
// ==========================================================================

// Media queries

@mixin media($break) {
    @if $break == 'small' {
        @media (min-width: $brkpoint-sm) and (max-width: $brkpoint-md) {
            @content;
        }
    }
    @else if $break == 'medium' {
        @media (min-width: $brkpoint-md + 1) {
            @content;
        }
    }
    @else if $break == 'large' {
        @media (min-width: $brkpoint-lg) {
            @content;
        }
    }
    @else {
        @error 'No value could be retrieved for `#{$break}`. '
    }
}