// ==========================================================================
// Buttons
// ==========================================================================

.btn {
    cursor: pointer;

    &--login {
        background-color: $navy-blue;
        color: $white;
        text-transform: uppercase;
        width: 100%;
        border: none;
        border-radius: 3px;
        padding: 15px;
        font-size: .7em;
        letter-spacing: 1px;

        @include media(small) {
            display: none;
        }

        &--mobile {
            display: none;

            @include media(small) {
                display: block;
                padding: 20px;
                width: 100vw;
                border-radius: 0;
            }
        }
    }

    &--outline,
    &--full {
        border: 1px solid $navy-blue;
        text-transform: uppercase;
        border-radius: 3px;
        font-size: .7em;
        padding: 7px 0 5px;
        width: 90px;

        @include media(small) {
            border: none;
            color: $navy-blue;
            width: auto;
            margin-left: 20px;
        }
    }

    &--full {
        background-color: $navy-blue;
        color: $white;
    }

    &--outline {
        background-color: $white;
        color: $navy-blue;
        font-weight: bold;

        @include media(small) {
            background-color: transparent;
        }
    }

    &--upload {
        position: relative;
        border: 1px solid $color-border;
        background-color: $white;
        border-radius: 3px;
        padding: 0 12px 6px;
        color: $color-secondary;
        font-size: .7em;

        .ion-camera {
            position: relative;
            margin-right: 16px;
            font-size: 24px;
            top: 3px;
        }
    }

    &--save {
        margin-right: 20px;
    }
}