// ==========================================================================
// Cards
// ==========================================================================

.card {
    background: $white;
    width: 500px;
    padding: 10px 50px 40px;
    border-radius: 3px;

    @include media(small) {
        height: auto;
        width: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    &__header {
        @extend %center-align;
        border-bottom: 1px solid $color-border;
        padding: 10px;

        @include media(small) {
            border-bottom: none;
            padding-top: 30px;
        }
    }

    &__footer {
        @extend %center-align;
        color: $color-terms;
        font-size: .8em;
        padding: 5px 20px 25px;

        @include media(small) {
            text-align: left;
            padding: 5px 0 25px;
            font-size: .9em;
        }
    }
}