// ==========================================================================
// Headers
// ==========================================================================

.profile-header {
    margin: 0 auto;
    background-color: $white;

    @include media(small) {
        background-color: $color-background;
    }

    &__logout-container,
    &__upload-container {
        padding: 12px;
    }

    &__logout-container {
        text-align: right;
    }

    &__upload-container {
        text-align: center;
        padding: 12px;
    }

    &__info-container {
        display: flex;
        padding: 12px 12px 0 0;
        margin-left: 220px;

        @include media(small) {
            padding: 12px;
            margin-left: 0;
            flex-direction: column;
        }
    }

    &__profile-info {
        color: $black;

        @include media(small) {
            color: $color-primary;
        }
    }

    &__data-list {
        display: flex;
        flex-direction: column;

        :last-child {
            @include media(small) {
                order: 1;
            }
        }

        :first-child {
            @include media(small) {
                order: 2;
            }
        }

        @include media(small) {
            margin-bottom: 3px;
        }
    }

    &__name {
        margin-top: 0;
        margin-bottom: 0;

        @include media(small) {
            text-align: center;
            color: $black;
        }
    }

    &__address,
    &__phone {
        display: inline-block;
        margin-left: 10px;
        font-size: .8em;
        position: relative;
        top: -2px;
    }

    &__stars {
        margin-left: auto;

        @include media(small) {
            margin-left: 0;
            color: $navy-blue;
        }
    }

    &__reviews,
    &__followers {
        font-size: .7em;

        &--bold {
            font-weight: bold;
            font-size: .8rem;
        }
    }

    &__reviews {
        margin-left: 20px;
        padding: 3px;

        @include media(small) {
            margin-left: 0;
            padding-left: 0;
        }

        &--bold {
            margin-right: 5px;
        }
    }

    &__navigation-container {
        position: relative;
        display: flex;
        border: 1px solid $color-border--light;
        padding: 12px 12px 0 220px;
        box-shadow: 0 2px 4px $color-border;

        @include media(small) {
            background-color: $white;
            padding: 12px 12px 0 12px;

            width: auto;
            visibility: visible;
            overflow: hidden;
        }
    }

    &__image {
        width: 170px;
        height: 170px;
        position: absolute;
        top: -142px;
        left: 12px;

        &.is-visible-mobile {
            position: relative;
            top: 0;
            left: 0;
            margin: 0 auto;
            width: 120px;
            height: 120px;
        }
    }

    &__followers-container {
        margin-left: auto;

        @include media(small) {
            margin-left: 0;
            padding-top: 10px;
        }

        .ion-ios-plus:before {
            font-size: 1.5rem;
            color: $color-icon--light
        }
    }

    &__followers {
        margin-left: 10px;
        position: relative;
        top: -4px;

        @include media(small) {
            margin-left: 0;
        }

        &--bold {
            @include media(small) {
                margin: 0 5px;
            }
        }
    }
}