// ==========================================================================
// Inputs
// ==========================================================================

.input-block {
    &__input {
        margin-top: 40px;
        width: 100%;
        display: block;
        border: none;
        padding: 10px 0;
        border-bottom: 1px solid $color-border;
        transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, $navy-blue 4%);
        background-position: -1000px 0;
        background-size: 1000px 100%;
        background-repeat: no-repeat;
        color: $color-primary;

        &--edit {
            margin-top: 20px;

            &-mobile {
                margin-top: 10px;
            }
        }
    }

    input {
        &:focus, &:valid {
            box-shadow: none;
            outline: none;
            background-position: 0 0;
        }

        &:focus + label, &:valid + label {
            top: -60px;
            color: $color-terms;
        }
    }

    &__label {
        color: $color-terms;
        font-size: .7em;
        text-transform: uppercase;
        position: relative;
        top: -30px;
        transition: all 0.3s ease-in-out;
    }

    &--password {
        margin-top: -20px;
    }
}