// ==========================================================================
// Navigations
// ==========================================================================

.navigation {
    margin: 0;
    user-select: none;
    overflow: auto;
    @extend %user-select;

    @include media(small) {
        position: relative;
        white-space: nowrap;

    }

    &__element {
        display: inline-block;
        text-transform: uppercase;
        color: $black;
        margin-right: 20px;
        font-size: .8em;
        cursor: pointer;
        padding-bottom: 10px;

        &--active {
            border-bottom: 2px solid $navy-blue;
        }
    }
}