// ==========================================================================
// Rollovers
// ==========================================================================

.profile-rollover {
    width: 300px;
    height: 150px;
    background: $white;
    box-shadow: 0 0 6px 3px $color-border--light;
    padding: 10px;
    border-radius: 3px;
    position: absolute;
    display: none;
}