// ==========================================================================
// Tabs
// ==========================================================================
.profile-info,
.profile-edit,
.profile-settings,
.profile-opt1,
.profile-opt2,
.profile-opt3 {
    display: none;
}

.profile-tabs {
    margin: 35px auto;
    background-color: $white;
    height: 600px;
    box-shadow: 0 0 4px 1px $color-border;
    padding: 40px;

    @include media(small) {
        padding: 12px;
        margin: 15px 0 30px;
        height: auto;
    }

    &--active {
        display: block;
    }
}

.profile-info {
    &__header-container {
        display: flex;
    }
    
    &__header {
        font-weight: normal;
        margin-top: 0;
        margin-right: auto;
        
        @include media(small) {
            font-size: 1.2em;
            margin-bottom: 0;
            padding-left: 5px;
        }
    }

    &__list {
        @include media(small) {
            margin-top: 5px;
        }
    }

    &__list-item {
        &:first-child {
            color: $black;
            font-size: 1.2em;
        }

        &.is-visible-mobile {
            margin-top: -15px;
        }
    }

    &__list-item-text,
    i {
        background-color: $color-background;
        display: inline-block;
        padding: 9px 5px 10px;
        margin-bottom: 2px;

        @include media(small) {
            background-color: transparent;
            padding: 5px;
        }
    }

    &__list-item-text {
        font-size: .8em;
        padding: 12px 5px;

        &:first-child {
            padding: 13px 5px 11px;
        }

        @include media(small) {
            font-size: .8em;
        }
    }



    .icon.ion-edit {
        color: $color-primary;
        padding:  9px 20px 10px;
        background-color: rgb(239, 245, 252);
        transition: all .5s ease-out;

        &:hover {
            color: $white;
            background-color: $navy-blue;
            cursor: pointer;
            transition: all .3s ease-in;
        }

        &.is-visible-mobile {
            padding: 0 5px;
        }

        @include media(small) {
            display: none;
        }
    }
}

.profile-edit {
    &__input-container {
        margin-top: 40px;
    }
}