// ==========================================================================
// Login Page
// ==========================================================================

.login-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;

    @include media(medium) {
        background: url('../img/fullscreen_bg_image.jpg');
        background-size: cover;
    }

    &__login-btn {
        margin-top: auto;
    }
}