// ==========================================================================
// Profile Page
// ==========================================================================

.profile-page {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-color: $color-background;
    padding: 35px 100px;

    @include media(small) {
        padding: 0;
    }
}